<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CollatorCAM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TCP_LISTENER_Delta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TCP_LISTENER_Delta.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CollatorCAM.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
    <userSettings>
        <CollatorCAM.Properties.Settings>
            <setting name="ACC_Y_MAN" serializeAs="String">
                <value />
            </setting>
            <setting name="DEC_Y_MAN" serializeAs="String">
                <value />
            </setting>
            <setting name="ManSpdSave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CollatorSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedX1" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedX2" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedY1" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedY2" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedPERC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPEED_Y_MAN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RailcartSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="POS1" serializeAs="String">
                <value />
            </setting>
            <setting name="POS2" serializeAs="String">
                <value />
            </setting>
            <setting name="POS3" serializeAs="String">
                <value />
            </setting>
            <setting name="GrabTMR" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanTMR" serializeAs="String">
                <value />
            </setting>
            <setting name="ReleaseTMR" serializeAs="String">
                <value />
            </setting>
            <setting name="tesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value />
            </setting>
            <setting name="JanuaryAutoContrast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JanuaryBlur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FebruaryAutoContrast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FebruaryBlur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JanuaryCaptureFromCamera" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JanuaryCameraResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JanuaryAdaptiveThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JanuaryNoizeFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JanuaryShowAngle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JanuaryShowContours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JanuaryMinContourLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JanuaryMinContourArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JanuaryNoizeInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JanuaryNoizeFilt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JanuaryMaxACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JanuaryMinACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JanuaryAllowAngles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JanuaryTemplateFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FebruaryTemplateFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FebruaryAdaptiveThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FebruaryAllowAngles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FebruaryCameraResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FebruaryCaptureFromCamera" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FebruaryMaxACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FebruaryMinACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FebruaryMinContourArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FebruaryMinContourLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FebruaryNoizeFilt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FebruaryNoizeFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FebruaryNoizeInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FebruaryShowAngle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FebruaryShowContours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JanuaryShowBinarized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FebruaryShowBinarized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JanuaryCycleCapture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FebruaryCycleCapture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JanuaryAdaptiveThBlockSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JanuaryMinDefinition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JanuaryMinICF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FebruaryAdaptiveThBlockSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FebruaryMinDefinition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FebruaryMinICF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JanuaryGetImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FebruaryGetImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MarchAutoContrast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarchBlur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarchNoizeFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarchAllowAngles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarchCameraResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarchCaptureFromCamera" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarchNoizeFilt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarchShowContours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarchTemplateFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MarchShowAngle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarchShowBinarized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarchCycleCapture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarchAdaptiveThBlockSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarchMaxACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarchMinACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarchMinContourArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarchMinContourLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarchMinDefinition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarchMinICF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarchGetImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AprilAutoContrast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AprilBlur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AprilNoizeFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AprilAllowAngles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AprilCameraResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AprilCaptureFromCamera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AprilNoizeFilt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AprilShowContours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AprilTemplateFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AprilShowAngle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AprilShowBinarized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AprilCycleCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AprilAdaptiveThBlockSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AprilMaxACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AprilMinACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AprilMinContourArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AprilMinContourLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AprilMinDefinition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AprilMinICF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AprilGetImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MayAutoContrast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MayBlur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MayNoizeFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MayAllowAngles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MayCameraResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MayCaptureFromCamera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MayNoizeFilt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MayShowContours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MayTemplateFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MayShowAngle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MayShowBinarized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MayCycleCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MayAdaptiveThBlockSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MayMaxACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MayMinACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MayMinContourArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MayMinContourLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MayMinDefinition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MayMinICF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MayGetImagePath" serializeAs="String">
                <value />
            </setting>
        </CollatorCAM.Properties.Settings>
        <TCP_LISTENER_Delta.Properties.Settings>
            <setting name="ACC_Y_MAN" serializeAs="String">
                <value />
            </setting>
            <setting name="DEC_Y_MAN" serializeAs="String">
                <value />
            </setting>
            <setting name="ManSpdSave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CollatorSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedX1" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedX2" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedY1" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedY2" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedPERC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPEED_Y_MAN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RailcartSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="POS1" serializeAs="String">
                <value />
            </setting>
            <setting name="POS2" serializeAs="String">
                <value />
            </setting>
            <setting name="POS3" serializeAs="String">
                <value />
            </setting>
            <setting name="GrabTMR" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanTMR" serializeAs="String">
                <value />
            </setting>
            <setting name="ReleaseTMR" serializeAs="String">
                <value />
            </setting>
            <setting name="tesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value />
            </setting>
            <setting name="JanuaryAutoContrast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JanuaryBlur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FebruaryAutoContrast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FebruaryBlur" serializeAs="String">
                <value>False</value>
            </setting>
        </TCP_LISTENER_Delta.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
